Warehouse GUI/Service References/WarehouseService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Warehouse_Server/WarehouseService/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Warehouse_Server/WarehouseService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Warehouse_Server" />
  <xs:element name="getShopRequests">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getShopRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getShopRequestsResult" nillable="true" type="q1:ArrayOfKeyValueOfTitleintycJUAo3v" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deliverRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Warehouse_Server" minOccurs="0" name="t" type="q2:Title" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deliverRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>