Warehouse GUI/Service References/ShopService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Shop_Server/ShopService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Shop_Server" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Shop_Server/ShopService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="getOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Shop_Server" minOccurs="0" name="getOrdersResult" nillable="true" type="q1:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStocks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getStocksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getStocksResult" nillable="true" type="q2:ArrayOfKeyValueOfTitleint1038ey_SH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="addr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quant" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Shop_Server" minOccurs="0" name="t" type="q3:Title" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addOrderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>