Warehouse GUI/Service References/ShopService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ShopService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSDualHttpBinding_IShopService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Shop_Server" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IShopService_getOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:getOrders" />
  </wsdl:message>
  <wsdl:message name="IShopService_getOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IShopService_getStocks_InputMessage">
    <wsdl:part name="parameters" element="tns:getStocks" />
  </wsdl:message>
  <wsdl:message name="IShopService_getStocks_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStocksResponse" />
  </wsdl:message>
  <wsdl:message name="IShopService_addOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:addOrder" />
  </wsdl:message>
  <wsdl:message name="IShopService_addOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:addOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IShopService_warehouseDispatch_InputMessage">
    <wsdl:part name="parameters" element="tns:warehouseDispatch" />
  </wsdl:message>
  <wsdl:message name="IShopService_warehouseDispatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:warehouseDispatchResponse" />
  </wsdl:message>
  <wsdl:message name="IShopService_orderArrived_InputMessage">
    <wsdl:part name="parameters" element="tns:orderArrived" />
  </wsdl:message>
  <wsdl:message name="IShopService_orderArrived_OutputMessage">
    <wsdl:part name="parameters" element="tns:orderArrivedResponse" />
  </wsdl:message>
  <wsdl:message name="IShopService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IShopService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IShopService_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="IShopService_Unsubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeResponse" />
  </wsdl:message>
  <wsdl:portType name="IShopService">
    <wsdl:operation name="getOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IShopService/getOrders" message="tns:IShopService_getOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShopService/getOrdersResponse" message="tns:IShopService_getOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStocks">
      <wsdl:input wsaw:Action="http://tempuri.org/IShopService/getStocks" message="tns:IShopService_getStocks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShopService/getStocksResponse" message="tns:IShopService_getStocks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IShopService/addOrder" message="tns:IShopService_addOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShopService/addOrderResponse" message="tns:IShopService_addOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="warehouseDispatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IShopService/warehouseDispatch" message="tns:IShopService_warehouseDispatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShopService/warehouseDispatchResponse" message="tns:IShopService_warehouseDispatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="orderArrived">
      <wsdl:input wsaw:Action="http://tempuri.org/IShopService/orderArrived" message="tns:IShopService_orderArrived_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShopService/orderArrivedResponse" message="tns:IShopService_orderArrived_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IShopService/Subscribe" message="tns:IShopService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShopService/SubscribeResponse" message="tns:IShopService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IShopService/Unsubscribe" message="tns:IShopService_Unsubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShopService/UnsubscribeResponse" message="tns:IShopService_Unsubscribe_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDualHttpBinding_IShopService" type="tns:IShopService">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IShopService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getOrders">
      <soap12:operation soapAction="http://tempuri.org/IShopService/getOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStocks">
      <soap12:operation soapAction="http://tempuri.org/IShopService/getStocks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addOrder">
      <soap12:operation soapAction="http://tempuri.org/IShopService/addOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="warehouseDispatch">
      <soap12:operation soapAction="http://tempuri.org/IShopService/warehouseDispatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="orderArrived">
      <soap12:operation soapAction="http://tempuri.org/IShopService/orderArrived" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://tempuri.org/IShopService/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <soap12:operation soapAction="http://tempuri.org/IShopService/Unsubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShopService">
    <wsdl:port name="WSDualHttpBinding_IShopService" binding="tns:WSDualHttpBinding_IShopService">
      <soap12:address location="http://localhost:8700/ShopService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8700/ShopService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>