Warehouse GUI/Service References/ShopService/Shop_Server.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Shop_Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Shop_Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:double" />
      <xs:element minOccurs="0" name="quant" type="xs:int" />
      <xs:element minOccurs="0" name="state" type="tns:OrderState" />
      <xs:element minOccurs="0" name="title" type="tns:Title" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:simpleType name="OrderState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="WaitingExpediton" />
      <xs:enumeration value="Dispatched" />
      <xs:enumeration value="DispatchWillOccur" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OrderState" nillable="true" type="tns:OrderState" />
  <xs:simpleType name="Title">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LotR" />
      <xs:enumeration value="GoT" />
      <xs:enumeration value="CProgramming" />
      <xs:enumeration value="AIBasicApproach" />
      <xs:enumeration value="RemotingForDummies" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Title" nillable="true" type="tns:Title" />
</xs:schema>